ADMIN_EMAILS=info@modelmanagement.mu
BUNNY_CDN_URL=https://model-m.b-cdn.net
BUNNY_STORAGE_API_KEY=6838725c-ea27-47e0-ac72241f9680-855a-4086
JWT_SECRET=model-management-jwt-secret-change-in-production-xyz
MONGODB_URI="mongodb+srv://mubarismuhammed33_db_user:QIwF75O9HZWeQdVK@cluster0.hxm5vc8.mongodb.net/model_management?retryWrites=true&w=majority&appName=Cluster0\nJWT_SECRET=model-management-jwt-secret-change-in-production-xyz"
PORT=3001